*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --pink: #CA3884;
  --pink-hover: #A52C6B;
  --red-danger: #C93837;

  --bg-color: #F4F5FB;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;
}

body{
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  overflow: hidden;
}

.none{
  display: none;
}

header{
  display: none;
}

main{
  max-width: 20.438rem;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding: 2.13rem 1.94rem;

  #top{
    display: grid;
    gap: 1rem;
    margin-bottom: 2.75rem;

    & p{
      color: var(--pink);
      font-size: 0.875rem;
      font-weight: 500;
    }

    & h1{
      color: #111827;
      font-size: 1.5rem;
    }
  }

  form{
    display: grid;
    gap: 1rem;
    margin-bottom: 2.5rem;

    & #addItem{
      padding: .75rem 1.12rem;
      width: 100%;
      border: 2px solid var(--border-primary);
      border-radius: .75rem;
      font-size: 1rem;
      font-weight: 500;
      color: var(--content-primary);

      &:focus-within{
        outline: none;
        border-color: var(--pink);
      }
    }
    
    & #addItem::placeholder{
      font-size: 1rem;
      font-weight: 400;
      color: var(--content-tertiary);
    }

    .button{
      padding: .62rem 1.5rem;
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      line-height: 1.25rem;
      color: #ffffff;
      background-color: var(--pink);
      border: none;
      border-radius: .75rem;
    }
  }
  
  ul{
    display: grid;
    gap: .75rem;
    width: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar{
      display: none;
    }
    
    li{
      display: flex;
      align-items: center;
      background-color: #ffffff;
      padding: .75rem;
      border-radius: .75rem;
      gap: .75rem;
      position: relative;

      & label{
        width: 12rem;
        line-height: 1.25rem;
      }

      & input[type="checkbox"]{
        all: unset;
        position: absolute;
        inset: 0;
      }

      & .checkbox-image{
        flex: 0 0 1.1rem;
        height: 1.1rem;
        background-image: url(./assets/checkboxDefault.svg);
        background-repeat: no-repeat;
      }

      &:hover .checkbox-image{
        background-image: url(./assets/checkboxHover.svg);
      }

      &:has(:checked) .checkbox-image{
        background-image: url(./assets/checkboxSelected.svg);
      }

      #delete-item{
        z-index: 1;
        appearance: none;
        border: none;
        background-color: #ffffff;
      }
    }
  }

  footer{
    background-color: var(--red-danger);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 3rem;
    padding: .75rem;
    border-radius: .75rem;

    div{
      display: flex;
      gap: .75rem;
      align-items: center;

      & p{
        font-size: .80rem;
        font-weight: 600;
        color: #ffffff;
      }
    }

    & #close-alert{
      appearance: none;
      border: none;
      background-color: var(--red-danger);
    }
  }
}

@media (width > 80em){
  header{
    display: flex;
    gap: .44rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.56rem;

    & p{
      font-size: 1.66669rem;
      font-family: "Sora", sans-serif;
      font-weight: 700;
      color: var(--content-secondary);
    }
  }

  main{
    max-width: 39.19rem;

    #top p{
      cursor: pointer;
    }
    
    #input-wrapper{
      display: flex;

      & button{
        white-space: nowrap;
        cursor: pointer;
        transition: 200ms linear;
  
        &:hover{
          background-color: var(--pink-hover);
        }
      }
    }

    ul{
      li {
        label{
          width: 100%;
        }

        & #delete-item{
          cursor: pointer;
          transition: 300ms linear;

          &:hover{
            transform: rotate(30deg);
            scale: 1.1;
          }
        }
      }
    }
    
    footer {
      & div p{
        font-size: 1rem;
      }

      & #close-alert{
        cursor: pointer;
        transition: 300ms linear;

        &:hover{
          transform: rotate(90deg);
          scale: 1.1;
        }
      }
    }
  }
}